<div style="margin-left: 20%; margin-right: 20%; background-color: #a1d1e0;">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.select :status, ['Not started', 'In progress', 'Done'] %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.radio_button :priority, 'low'%>Low 
    <%= form.radio_button :priority, 'medium'%>Medium
    <%= form.radio_button :priority, 'high'%>High 
  </div>

  <div class="field">
  <%= form.label :deadline %>
  <%= form.date_field :deadline %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>