<div style="margin-left: 20%; margin-right: 20%; background-color: #a1d1e0;">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <div class="field">
  <tr>
   <td> <%= form.label :title %></td>
    <td><%= form.text_field :title %></td>
    </tr>
  </div>

  <div class="field">
   <tr> <td><%= form.label :task_name %></td>
    <td><%= form.text_field :task_name %></td>
    </tr>
  </div>
    <tr>
  <div class="field">
    <td><%= form.label :Status %></td>
    <td><%= form.select :status, ['Not started', 'In progress', 'Done'] %></td>
    </tr>
  </div>

  <div class="field">
  <tr>
    <td><%= form.label :user_id %></td>
    <td><%= form.number_field :user_id %></td>
    </tr>
  </div>

  <div class="field">
  <tr>
  <td>
    <%= form.label :priority %>
    <%= form.radio_button :priority, 'low'%>Low 
    <%= form.radio_button :priority, 'medium'%>Medium
    <%= form.radio_button :priority, 'high'%>High 
    <td>
    </tr>
  </div>

  <div class="field">
  <tr>
  <td><%= form.label :deadline %></td>
  <td><%= form.date_field :deadline %></td>
  </tr>
</div>

  <div class="actions">
  <tr>
  <td>
    <%= form.submit class: "btn btn-info" %>
    </td>
    </tr>
  </div>
<% end %>


</div>