<div >
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
<table>
  <div class="field">
  <tr>
   <td> <%= form.label :title %></td>
    <td><%= form.text_field :title %></td>
    </tr>
  </div>

  <div class="field">
   <tr> <td><%= form.label :task_name %></td>
    <td><%= form.text_field :task_name %></td>
    </tr>
  </div>
    <tr>
  <div class="field">
    <td><%= form.label :Status %></td>
    <td><%= form.select :status, ['Not started', 'In progress', 'Done'] %></td>
    </tr>
  </div>

  <div class="field">
  <tr>
  <td>
    <%= form.label :priority %>
    <%= form.radio_button :priority, 'low'%>Low 
    <%= form.radio_button :priority, 'medium'%>Medium
    <%= form.radio_button :priority, 'high'%>High 
    <td>
    </tr>
  </div>

  <div class="field">
  <tr>
  <td><%= form.label :deadline %></td>
  <td><%= form.date_field :deadline %></td>
  </tr>
</div>
<div class="field">
  <tr>
   <td><%= form.hidden_field :user_id, value: current_user.id %></td>
  </tr>
</div>
deadline
  <div class="actions">
  <tr>
  <% if logged_in? %>
    <% Label.all.each do |label| %>
      <% if current_user.id == label.user_id %>
        <div class="row ml-4">
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= form.label:title, label.title %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  <td>
    <%= form.submit class: "btn btn-info" %>
    </td>
    </tr>
  </div>
  </div>
  </table>
<% end %>

</div>